html {
    margin: 0;
    padding: 0;
    background:linear-gradient( rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55) ), url("../img/back.jpeg") 50% 50% fixed;
    background-color: #1a1a1a;
    background-size: cover;
}

.navbar-toggle{
	border-radius: 1px !important;
}

.container{
	width:100% !important;
}
.navbar-default{
	background-color: black !important;
    background-image: none !important;
    border: 1px solid black !important;
}
.navbar-default .navbar-nav>li>a{
	color:white;
	font-weight: 800;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a{
	background-color: black !important;
	background-image: none;
	color:#ff4d4d;
	font-weight: 800;
}
.navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.open>a:hover{
    color: #ff4d4d;
    background-color: transparent;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #ff4d4d;
    background-color: transparent;
}
.dropdown-menu {
	    position: absolute;
	    top: 100%;
	    left: 0;
	    z-index: 1000;
	    display: none;
	    float: left;
	    min-width: 160px;
	    padding: 5px 0;
	    margin: 2px 0 0;
	    font-size: 14px;
	    text-align: left;
	    list-style: none;
	    background-color: #000;
	    -webkit-background-clip: padding-box;
	    background-clip: padding-box;
	    border: 1px solid #000;
	    border: 1px solid rgba(0,0,0,.15);
	    border-radius: 0px;
	    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	    box-shadow: 0 6px 12px rgba(0,0,0,.175);
	}
.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 800;
    line-height: 1.42857143;
    color: white;
    white-space: nowrap;
}
.dropdown-menu>li>a:hover {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 800;
    line-height: 1.42857143;
    color: #ff4d4d;
    white-space: nowrap;
    background-color: black !important;
    background-image: none;
}
.navbar-default .navbar-brand {
    color: #fff;
    font-weight: 2000;
}
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
    color: #fff;
    background-color: transparent;
}
.col{
	height: 300px;
	padding: 0px;
	/*width: 200px;*/
	margin-top: 20px;
	margin-left: 30px;
	background-color: white !important;
	text-align: center;
}
.col-1{
	margin-left: 10% !important;
}

body{
	background-color: transparent !important;
	text-align: center;
}

.text-left {
	text-align: left;
	padding-left: 20px;
}

hr.star-light,
hr.star-primary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 3px;
    text-align: center;
}

hr.star-light:after,
hr.star-primary:after {
    content: "\f005";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
}

hr.star-light {
    border-color: #fff;
}

hr.star-light:after {
    color: #fff;
    background-color: #fff;
}

hr.star-primary {
    border-color: #fff;
}

hr.star-primary:after {
    color: #fff;
    background-color: transparent;
}
h1, h2, h3, h4, h5, h6{
	color:#e6e6e6;
	font-weight: 800;
}

.caret-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;
    
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}

.col h1,.col h2,.col h3,.col h4,.col h5,.col h6{
	color:grey;
	font-weight: 800;
	padding-left: 5px;
	padding-right: 5px;
}
img.div-img{
	width: 100%;
	height: 100%;
}

.imghvr-fade {
	height: 70%;
}

[class^='imghvr-'] figcaption, [class*=' imghvr-'] figcaption {
	background-color: #1a1a1a !important;
}

[class*=' imghvr-'], [class^=imghvr-] {
	background-color: white !important;
}

.color-font{
	color:#ff4d4d;
}

p,h5{
	color:#e6e6e6;
	font-weight: 800;
}

a {
	text-decoration: none;
}
a:hover ,a:active ,a:focus ,a:visited {
	text-decoration: none;
}

.title {
	background-color: transparent;
	width:20%;
	text-align: left;
	border-bottom: 4px solid #ff4d4d;
	padding-left: 10px;
}

.title-col {
	background-color: transparent;
	width:40%;
	text-align: left;
	border-bottom: 4px solid #ff4d4d;
	padding-left: 10px;
	padding-top: 90px;
}

.col-xs-offset-1 {
     margin-left: 0px !important; 
}

.justify {
	text-align: justify;
}

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: 300px;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

@media all and (max-width: 780px) {
    .col-1 {
	    margin-left: 30px !important;
	}

	.title {
		background-color: transparent;
		width:60%;
		text-align: left;
		border-bottom: 4px solid #ff4d4d;
		padding-left: 10px;
	}

	.title-col {
		background-color: transparent;
		width:60%;
		text-align: left;
		border-bottom: 4px solid #ff4d4d;
		padding-left: 10px;
		padding-top: 5px;
		margin-bottom: 20px;

	}

	.col-xs-offset-1 {
    	margin-left: 8.33333333% !important; 
	}

	.col{
		height: 350px;
		padding: 0px;
		/*width: 200px;*/
		margin-top: 20px;
		margin-left: 30px;
		background-color: white !important;
		text-align: center;
	}
}

@media all and (min-width: 781px) and (max-width: 1250px) {
	.col-1 {
	    margin-left: 60px !important;
	}

	.col{
		height: 350px;
		padding: 0px;
		/*width: 200px;*/
		margin-top: 20px;
		margin-left: 30px;
		background-color: white !important;
		text-align: center;
	}
}
